.border-container {
    width: 100%;
    border: 1px solid green;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 471px;
    color: #FFFF;
}


.border-containertwo {
    width: 100%;
    border: 1px solid green;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #FFFF;
    padding: 10px;
}


.border-containerthree {
    width: 100%;
    border: 1px solid green;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #FFFF;
    padding: 20px;
}


.border-containerfour {
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #FFFF;
}




.inside {
    padding: 8px;
    height: 58px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    text-align: start;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}


.choose {
    margin: 10px 0px 34px 0px;
    font-weight: 400;
    font-size: 20px;
}


.poa {
    width: 10%;
    height: auto;
}


.inside img {
    margin-right: 12px;
}


.containform {
    width: 75%;
    background: #FFF;
    padding: 20px;
    border-radius: 10px;
}


.connect {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}




.toast {
    position: absolute;
    z-index: 99999999;
    left: 50%;
    top: 16%;
    transform: translate(-50%,-50%);
}



@media screen and (max-width: 815px) {
    .containform {
        width: 95%;
        background: #FFF;
        padding: 20px;
        border-radius: 10px;
    }
}


/*
for vesting 
*/

.top {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-left: 28%;
}


.slect-sides {
    width: 20%;
    display: flex;
    gap: 11px;
    align-items: flex-start;
    padding-top: 14px;
    font-size: 14px;
}


.normalchoose {
    cursor: pointer;
}

.chooseactive {
    color: green;
    font-weight: bold;
    cursor: pointer;
}



/*

Token 

*/



.worktable {
    border: 1px solid green;
    color: #FFF;
}




.worktable .thead tr {
    background: rgba(0, 0, 0, 0.5) !important;
}

.worktable tr {
   height: 54px !important;

}


.connectwallet {
    width: 70%;
    height: auto;
}


.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.addresscontainer {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    width: 25%;
}



@media screen and (max-width: 600px) {

    .addresscontainer {
        display: flex;
        justify-content: flex-end;
        gap: 5px;
        width: 100%;
    }
    
    .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .connectwallet {
        width: 50%;
        height: auto;
        align-self: center;
    }


    .toast {
        position: absolute;
        z-index: 99999999;
        left: 70%;
        top: 6%;
        transform: translate(-50%,-50%);
        width: 200px;
    }

    .top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-left: 0px;
    }
}




.containthem {
    width: 100%;
    height: 100%;
}



/*
.worktable .trfix {
    padding: 8px;
    width: 100%;
    height: 58px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    text-align: start;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

*/