.overall-main {
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
}

.eachheader {
    background: green;
    color: #FFF;
    padding: 10px;
    position: relative;
    height: 65px;
    font-family: var(--body-font-family);
}

.eachheader:before {
    content: '';
    position: absolute;
    top: 33px;
    right: -1px;
    border-top: 33px solid green;
    border-right: 36px solid #242422;
    width: 0;
    transform-origin: 54% 0;
    transform: rotate(0deg);
}



.bg-sectionone {
    margin-top: 38px;
    border: 1px solid green;
    padding: 20px;
    color: #FFF;
    background: #1f1f1f;
    font-family: var(--body-font-family);
}


.editedbutton {
    border-radius: 0px;
}


.stylesearch {
    background: #121212;
    width: 20%;
    display: flex;
    justify-content: center;
    height: 33px;
}


.stylesearch input {
    background: transparent;
    border: none;
    outline: none;
    color: #FFF;
}



.hometable {
    color: #FFF;
    border-collapse: separate;
    border-spacing:0 20px;
    font-family: var(--body-font-family);
}


.trfixtwo {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    color: #FFF;
    width: 100%;
}

.hometable td, .hometable th {
    border: none;
}



.bg-sectiontwo {
    margin-top: 38px;
    border: 1px solid green;
    padding: 20px;
    color: #FFF;
    font-family: var(--body-font-family);
}


.partone {
    display: flex;
    gap: 10px;
}



.bg-sectionthree {
    margin-top: 38px;
    border: 1px solid green;
    padding: 20px;
    color: #FFF;
    background-color: green;
    height: 250px;
    font-family: var(--body-font-family);
}

.smallup {
    font-size: 13px;
}

.smalldown {
    font-size: 13px;
    color: grey;
}


.tablecontainer {
    width: 100%;
}


@media screen and (max-width: 600px) {

    .tablecontainer {
        width: 320px;
        overflow-x: scroll;
    }


    .stylesearch {
        background: #121212;
        width: 45%;
        display: flex;
        justify-content: center;
        height: 33px;
    }
    
}

